extend ../layout/common.pug
block content
	h1 Users

	.d-flex.align-items-center
		a.btn.btn-primary.mb-2(href="/users/create") New user
		br
		form.ml-auto(action="/users/search", method="get", autocomplete="off")
			label.mr-2(display="block" for="search-bar") Search by name
			input#search-bar(type="text", name="name", placeholder="enter name here", value= lastSearch || "")
			button.btn.btn-dark.ml-2(type="submit") Search

	table.table
		tr
			th Avatar
			th Name
			th Phone
			th Actions
		each user in users
			tr
				td
					if user.avatar
						if user.avatar.base64
							img(src="data:"+user.avatar.mimetype+";base64,"+user.avatar.base64, witdth="60", height="60")
						else
							img(src="/public/images/default-avatar.jpg", witdth="60", height="60")
					else
						img(src="/public/images/default-avatar.jpg", witdth="60", height="60")
				td(style="text-transform: capitalize")= user.name
				td= user.phone
				td
					span
						a.btn.btn-info.mb-2(target="_self" href="/users/view/" + user._id) View
						a.btn.btn-danger.ml-2.mb-2(target="_self" href="/users/delete/"+ user._id) Delete
		else
			tr
				td
					li= "There is no matched user"
